<div style="margin-top: 5%;">


    <div style="margin-top: 2%; height:900px">
        <section class="section columns">
            <div class="column is-full-desktop is-full-mobile">

                <div class="tabs is-toggle is-fullwidth">
                    <ul>
                        <li class="is-active ">
                            <a routerLink="/settings">

                                <span>Add New Accounts</span>
                            </a>
                        </li>

                        <li>
                            <a routerLink="/settings/Accounts">

                                <span>Manage  User Account</span>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
        </section>
        <section class="panel is-left is-half" style="margin: 3px;margin-top: -30px; width: 48%;">
            <p class="panel-heading" style="background-color:hsl(0, 0%, 88%) ;color:hsl(0, 0%, 21%)">
                Add User
            </p>
            <div class="panel-block ">
                <div style="height: 610px; width: 115%;">




                    <app-add-user></app-add-user>



                </div>
            </div>
            <div class="panel-block">

            </div>
        </section>

    </div>

</div>