<div style="margin-top: 5%; height: 900px;">
    <section class="section columns">
        <div class="column is-full-desktop is-full-mobile">

            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li>
                        <a routerLink="/professeur/">

                            <span>Professeur Form</span>
                        </a>
                    </li>
                    <li class="is-active">
                        <a routerLink="/professeur/create">

                            <span>Professeur List</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <section class="section columns" style="margin-top: -6%;">
        <div class="column is-full-desktop is-full-mobile">
            <app-search-professeur></app-search-professeur>
        </div>
    </section>

    <section class="panel" style="margin: 2%;margin-top: -3%;">
        <p class="panel-heading" style="background-color:hsl(0, 0%, 88%) ;color:hsl(0, 0%, 21%)">
            Professeurs
        </p>
        <div class="panel-block ">
            <div style="height: 590px; width: 100%;">

                <app-professeur-inventory-items></app-professeur-inventory-items>
            </div>
        </div>
        <div class="panel-block">

        </div>
    </section>
</div>