<div style=" overflow: hidden; " scroll="no">
    <app-header></app-header>
    <div class="columns" style="margin-top: 0%; ">
        <app-auth-login></app-auth-login>
        <div class="column is-sidebar-menu is-hidden-mobile is-2" style="background-color:hsl(0, 0%, 29%) ;width: 270px;">
            <app-sidemenu></app-sidemenu>
        </div>

        <div class="column main ">
            <router-outlet></router-outlet>

        </div>
    </div>
</div>
<div style="margin-top: 5%;">
    <section class="section columns">
        <div class="column is-full-desktop is-full-mobile">

            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li class="is-active">
                        <a>
                            <span class="icon is-small"><i class="fas fa-image" aria-hidden="true"></i></span>
                            <span>Assignment Form</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                            <span>Assignment List</span>
                        </a>
                    </li>
                    <li>
                        <a>
                            <span class="icon is-small"><i class="fas fa-music" aria-hidden="true"></i></span>
                            <span>Assignment rendu List</span>
                        </a>
                    </li>

                </ul>
            </div>
        </div>
    </section>
    <section class="section columns is-centered">
        <div class="column is-full-desktop is-full-mobile">
            <router-outlet></router-outlet>
        </div>
    </section>

</div>